 body {
    background-color: Ivory;
    font-size: 16px;
 }

#Chernihiv-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #020000;
    margin-bottom: 10px;
    
}

section, header, footer {
    display: block;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}

h2 {
    font-variant: small-caps;
}

h3 {
    font-style: italic;
    font-size: 14px;
}

section > section {
    margin-top: 10px;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
}

header {
    text-align: center;
}

footer {
   margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
}

.caption {
    font-style: italic;
}

.comment {
    font-style: italic;
}